nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 4rem;

}

.humo--logo {
  width: 12rem;

}

.navigation__content {
  display: none;
  position: absolute;
  top: 12rem;
  left: 0;
  width: 100%;
  background-color: white;
  padding-bottom: var(--padding--top--mobile);
  z-index: 999;
}

.navigation__content li,a {
  font-size: var(--font--a--size);
  text-decoration: none;
  color: black;
  padding-top: 1rem;
}

.navigation__main {
  width: 80%;
  margin: auto;
  padding-top: var(--padding--top--mobile);

}

.navigation__main li {
  border-bottom: 2px dotted var(--border--color);
  padding-bottom: 1rem;
}

.navigation__second {
  width: 80%;
  margin: auto;
  padding-top: var(--padding--top--mobile);
}

.navigation__second a {
  width: 80%;
  margin: auto;
  font-size: var(--font--a--size--ipad);
  padding-top: var(--padding--top--mobile);
  font-family: news-gothic-std, sans-serif;
  font-weight: 400;

}
