/* stylelint-disable */
*, *::before, *::after {
  box-sizing: border-box;
}
/* stylelint-enable */

.hidden {
  display: none;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: news-gothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
}

h1 {
  font-size: var(--font--h1--size);
  line-height: 2.4rem;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

h2 {
  font-size: var(--font--h2--size);
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

h3 {
  font-size: var(--font--h3--size);
  font-weight: 300;
  font-family: Oswald, sans-serif;
}

a,li {
  font-size: var(--font--a--size);
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

p {
  font-size: var(--font--p--size);
  line-height: 1.6rem;
  font-family: news-gothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text--color__red a {
  color: var(--main--color);
}

.container {
  width: 80%;
  margin: auto;
}

.filter__container {
  width: 100%;
  margin: auto;
}

.search__container {
  width: 100%;
  margin: auto;
}

.search {
  width: 100%;
  background-color: var(--secondary--color);
  border: none;
  padding: 1.6rem;
  border-radius: .3rem;
}

.search::placeholder {
  padding-right: 2rem;
}

.search [type=text] {
  padding-left: 2rem;
}

.filter__select {
  padding-top: 1rem;
  width: 100%;
  margin: auto;
}

.filter__input {
  width: 85%;
  background-color: white;
  border: 1px solid var(--secondary--color);
  padding: 1.6rem;
}

.shop__container {
  width: 100%;
  padding-top: var(--padding--top--mobile);
  padding-bottom: var(--padding--top--mobile);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: var(--grid--gap--mobile);


}

.product__card {
  width: 100%;
  height: 30rem;
  border-bottom: 2px dotted var(--border--color);
}

.product__image {
  width: 100%;
  height: 20rem;
  background-color: var(--secondary--color);
  border-radius: var(--border--radius);
}

.product__info {
  width: 90%;
  text-align: center;
}

.product__info h2:first-child {
  padding-top: var(--padding--top--text);
  padding-bottom: var(--padding--bottom--text);
}

.btn__back {
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: transparent;
  border-radius: var(--border--radius);
}

.details {
  width: 100%;
  height: auto;
  padding-top: var(--padding--top--mobile);
}

.details__image {
  width: 100%;
  height: 20rem;
  background-color: var(--secondary--color);
}

.details__info {
  width: 100%;
  height: auto;
  padding-top: var(--padding--top--mobile);
  padding-bottom: var(--padding--top--mobile);
  line-height: 1.4rem;

}

.details__productname {
  color: var(--main--color);
}

.details__author {
}

.details__price {
  padding-bottom: var(--padding--top--mobile);
}

.details__description {
  padding-bottom: var(--padding--top--mobile);
  padding-top: var(--padding--top--mobile);
  text-align: justify;
}

.product__option{

}

.btn__add {
  padding: 1rem 2rem;
  background-color: var(--main--color);
  border-radius: var(--border--radius);
  border: none;
  color: white;
}

.quantity-input {
  width: 8rem;
  background-color: white;
  border: 1px solid var(--secondary--color);
  padding: .8rem;
}

.cart {
  width: 100%;
}

.cart h1 {
  padding-bottom: var(--padding--top--mobile);
}

.item {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  grid-template-columns: 6fr 1fr 1fr;
  border-radius: var(--border--radius);
  padding-top: var(--padding--top--mobile);
  padding-bottom: var(--padding--top--mobile);
  border-bottom: 2px dotted var(--border--color);


}

.productname {
  grid-column: 1;
  grid-row: 1;
  color: var(--main--color);
  font-family: Oswald, sans-serif;
  font-weight: 400;

}

.price {
  grid-column: 1;
  grid-row: 2;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

.quantity {
  grid-column: 2;
  grid-row: 1;
  font-family: Oswald, sans-serif;
  font-weight: 300;

}

.update {
  grid-column: 2;
  grid-row: 2;

}

.remove {
  grid-column: 3;
  grid-row: 2;
}

.total {
  grid-column: 1;

}

.order-total {
  padding-bottom: var(--padding--top--mobile);

}

.summary {
  width: 100%;
  padding-top: var(--padding--top--mobile);
  padding-bottom: calc(var(--padding--top--mobile) * 2);

}
