/* stylelint-disable */
*, *::before, *::after {
  box-sizing: border-box;
}
/* stylelint-enable */

.hidden {
  display: none;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}
/*
@font-face {
  font-family: SwissBlack;
  src: url(../fonts/Swiss\ Black.ttf);
}

@font-face {
  font-family: SwissBold;
  src: url(../fonts/Swiss\ Bold.ttf);
}

@font-face {
  font-family: SwissRegular;
  src: url(../fonts/Swiss\ Regular.ttf);
}
@font-face {
  font-family: NewsGothic;
  src: url(../fonts/NewsGothicStd.otf);
}
*/
h1 {

}

h2 {

}

a,li {
  font-family: sans-serif;
}

p {

}

.text--color__red a{
  color: var(--main--color);
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 4rem;

}

.humo--logo {
  width: 12rem;
}

.shop__container {
  width: 100%;
  margin: auto;
  background: black;
  height: 40rem;
}

.navigation__content {
  display: none;
  position: absolute;
  top: 12rem;
  left: 0;
  width: 100%;
  background-color: white;
  padding-bottom: var(--padding--top--mobile);

}

.navigation__content li,a {
  font-size: var(--font--a--size);
  text-decoration: none;
  color: black;
  padding-top: 1rem;
}

.navigation__main {
  width: 80%;
  margin: auto;
  padding-top: var(--padding--top--mobile);

}

.navigation__main li {
  border-bottom: 2px dotted var(--border--color);
  padding-bottom: 1rem;
}

.navigation__second {
  width: 80%;
  margin: auto;
  padding-top: var(--padding--top--mobile);

}

.navigation__second li:last-child {
  border-bottom: 2px dotted var(--border--color);
  padding-bottom: 1rem;
}
