:root {
  --main--color: #0057ff;
  --main--dark--color: #151d27;
  --main--hover: rgb(83, 141, 255);
  --main--active: rgb(38, 91, 197);
  --main--grey--color: #8888;
  --main--error--color: rgba(255, 37, 37, .8);
  --main--text--color: #7878;
  --light--text--color: #afafaf;
  --font--title--size: 1.8rem;
  --font--h2--size: 1.6rem;
  --font--a--size: 1.2rem;
  --font--text--size: 1.2rem;
  --font--p--size--small: 1rem;
  --margin--top: 2rem;
  --padding--top: 4rem;
  --padding--bottom: 2rem;
  --button--box--shadow: 0 0 25px rgba(0, 87, 255, .55);
  --box--shadow: 0 0 30px rgba(0, 0, 0, .12);
}
